<!-- inputs tools list loaded here dinamically-->
<div class="panel panel-default">
    <div class="panel-body">
        <ul id="inputs-tools-list" class="nav nav-sidebar connectedSortable">
            <li>
                <div class="input" data-type="text">
                    <div class="input-inner">
                        <i class="fa fa-text-width fa-2x fa-fw"></i>
                        <span class="question-preview">Text</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="integer">
                    <div class="input-inner">
                        <i class="fa fa-hashtag fa-2x fa-fw"></i>
                        <span class="question-preview">Numeric</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="phone">
                    <div class="input-inner">
                        <i class="fa fa-phone fa-2x fa-fw"></i>
                        <span class="question-preview">Phone</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="date">
                    <div class="input-inner">
                        <i class="fa fa-calendar fa-2x fa-fw"></i>
                        <span class="question-preview">Date</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="time">
                    <div class="input-inner">
                        <i class="fa fa-clock-o fa-2x fa-fw"></i>
                        <span class="question-preview">Time</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="dropdown">
                    <div class="input-inner">
                        <i class="fa fa-caret-square-o-down fa-2x fa-fw"></i>
                        <span class="question-preview">Dropdown</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="radio">
                    <div class="input-inner">
                        <i class="fa fa-dot-circle-o fa-2x fa-fw"></i>
                        <span class="question-preview">Radio</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="checkbox">
                    <div class="input-inner">
                        <i class="fa fa-check-square-o fa-2x fa-fw"></i>
                        <span class="question-preview">Checkbox</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input input-search" data-type="searchsingle">
                    <div class="input-inner">
                        <i class="fa fa-search fa-2x fa-fw"></i>
                        <span class="question-preview">Search</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="textarea">
                    <div class="input-inner">
                        <i class="fa fa-sticky-note-o fa-2x fa-fw"></i>
                        <span class="question-preview">Text Box</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="readme">
                    <div class="input-inner">
                        <i class="fa fa-file-text-o fa-2x fa-fw"></i>
                        <span class="question-preview">Readme</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="location">
                    <div class="input-inner">
                        <i class="fa fa-map-marker fa-2x fa-fw">

                        </i>
                        <span class="question-preview">Location</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="photo">
                    <div class="input-inner">
                        <i class="fa fa-camera-retro fa-2x fa-fw"></i>
                    <span
                            class="question-preview">Photo</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="audio">
                    <div class="input-inner">
                        <i class="fa fa-microphone fa-2x fa-fw"></i>
                        <span class="question-preview">Audio</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="video">
                    <div class="input-inner">
                        <i class="fa fa-video-camera fa-2x fa-fw"></i>
                        <span class="question-preview">Video</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input" data-type="barcode">
                    <div class="input-inner">
                        <i class="fa fa-barcode fa-2x fa-fw"></i>
                        <span class="question-preview">Barcode</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input input-branch" data-type="branch">
                    <div class="input-inner">
                        <i class="fa fa-clone fa-2x fa-fw"></i>
                        <span class="question-preview">Branch</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input input-group" data-type="group">
                    <div class="input-inner">
                        <i class="fa fa-align-justify fa-2x fa-fw"></i>
                        <span class="question-preview">Group</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
