<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title input-properties__header"><span class="question-preview">{question-text}</span></h3>

        <div id="input-properties__buttons" class="input-properties__buttons pull-right btn-group">

            <button class="input-properties__buttons--copy-input btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Copy input" disabled>
                <i class="fa fa-files-o fa-2x fa-fw"></i>
            </button>
            <button class="input-properties__buttons--remove-input btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Remove input">
                <i class="fa fa-trash-o fa-2x fa-fw"></i>
            </button>
            <button class="input-properties__buttons--validate-input btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Validate input">
                <i class="fa fa-check fa-2x fa-fw"></i>
            </button>

        </div>

    </div>
    <div class="panel-body input_properties__forms_wrapper">
        <span class="input-properties__no-input-selected">No input is currently selected</span>
    </div>
</div>
