<div class="container-fluid">
    <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
        <!--aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->

        <p class="navbar-brand navbar-text navbar-project-name">
            <img src="#" width="40" height="40">
            <span>{Project name}</span>
        </p>
    </div>
    <div id="navbar" class="navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-back-button"><a href="#"> <i class="fa fa-chevron-left"></i>&nbsp;Back</a></li>
            <!--<li class="navbar-text">Project_name</li>-->
            <!--<li class="active" data-form-index="0"><a href="#">{Form name}</a></li>-->
            <!--<li class="standard-mode-control navbar-control navbar__add-form-btn" data-add-form="1"><a href="#">Add Form <i class="fa fa-plus"></i></a></li>-->
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <!--<li class="navbar-text">-->
            <!--<i class="fa fa-user fa-fw"></i> Hi, Mirko-->
            <!--</li>-->
            <!--<li class="navbar__save-project-btn navbar-control">-->
            <!--<button type="button" class="btn btn-primary navbar-btn" disabled>-->
            <!--<i class="project-state fa fa-warning fa-fw"></i>Save project</button>-->
            <!--</li>-->
            <li class="navbar-control navbar-back-button navbar-exit-button">
                <a href="#"><i class="fa fa-power-off fa-fw"></i>Exit</a>
            </li>
        </ul>
    </div>
</div>
