$deep-purple: #673B91;
$light-purple: #a386bd;
$very-light-purple: rgba(155, 80, 136, 0.30);
$light-green: #D0E9DC;
$solid-green: #87C7A6;
$light-green-rgb: rgb(135,199,166);
$dark-grey: #333;
$dark-teal:#3B7284;
$hot-pink: #C159B3;
$light-grey: #f5f5f5;
$medium-grey:#999999;
$red-error: #a94442;
$green-success: green;
$yellow-warning: #ef8d28;
$light-warning: #ffe0b2;
$input-height: 40px;
$panel-heading-min-height:50px;
$no-question-help-message:'Drag and drop questions from the question types list';
$font-family-sans-serif: "Arimo","Helvetica Neue", Helvetica, Arial, sans-serif !default;