//loader
.loader {
  cursor: wait;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //margin: 60px auto;
  //font-size: 10px;
  font-size:5px;
  //position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba($light-green, 0.2);
  border-right: 1.1em solid rgba($light-green, 0.2);
  border-bottom: 1.1em solid rgba($light-green, 0.2);
  border-left: 1.1em solid $light-green;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;

}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.drawer__entry-loader {
  //font-size:5px;
}
.table-loader {
  top:121px;//to consider the navbars
  // font-size:5px;
}