@mixin card-project-name() {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $deep-purple;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
}
@mixin overlay {
  display:none;
  cursor: wait;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(white, 0.5);
  z-index: 9999;
  top: 0;
}