.page-manage-users {
  .count-overall {
    font-size: 11px !important;
    color: #333 !important;
    font-weight: bold !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
  }
  min-height: 620px;
  .tab-content {
    .panel-heading {
      min-height: 60px;
      span {
        line-height: 3;
      }
    }
    .panel-body {
      min-height: 200px;
    }
  }
  .manage-user-more {
    .btn {
      padding: 6.7px 10px;
    }
  }
  .manage-project-users__table {
    td {
      vertical-align: middle;
      .form-group {
        margin: 0;
      }
    }
  }
  .nav-tabs-roles {
    .badge {
      font-size: 11px;
      color: #333;
      font-weight: bold;
      background-color: #fff !important;
      border: 1px solid #ccc !important;
    }
  }
}
#ec5ModalImportUsers {
  hr {
    margin: 15px 0;
  }
}
.manage-project-users_by-role {
  margin-top: 4px;
}
