@import "mixins";

.page-entries-deletion {
  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin: 0;
  }
  .modal {
    .modal-dialog {
      .modal-body {
        min-height: 150px;
      }
    }
  }
  .project-name {
    color: $deep-purple !important;
    margin-bottom: 15px;
  }

  .project-logo {
    margin: 0 auto;
    border: 2px solid $deep-purple;
  }
  .project-logo-wrapper {
    @include project-logo-wrapper(256px, 256px);
  }

  .project-home__project-view-btn {
    text-align: center;
  }

  .project-home__stats {
    text-transform: uppercase;
    //padding:6px 16px;
    font-size: 18px;
    color: $hot-pink;
    .fa {
      vertical-align: middle;
    }
  }

  .project-home__project-name h1 {
    font-size: 36px;
    @include card-project-name();
    display: block;
  }

  .project-home__project-name {
    //padding-bottom:0;
    overflow: hidden;
  }
  .project-home__small-description {
    padding-top: 0;
    h2 {
      word-wrap: break-word;
    }
  }
  .project-home__action-btns {
    margin-top: 15px;
    .btn {
      width: 150px;
    }
  }
}

.project-home__share-btns {
  margin-top: -30px;
  text-align: center;
}
