.page-profile {
  hr {
    margin: 15px 0;
  }
  .material-icons {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
  }
  .btn-action,
  .btn-default {
    width: 250px;
  }
}
