@import "mixins";

.page-entries-deletion {
  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin: 0;
  }
  .modal {
    .modal-dialog {
      .modal-body {
        margin-bottom: 0;
      }
    }
    .modal-footer {
      margin-top: 0;
    }
    .table {
      margin-bottom: 0;
    }
  }
  .project-name {
    color: $deep-purple !important;
    margin-bottom: 15px;
  }

  .project-logo-wrapper {
    @include project-logo-wrapper(256px, 256px);
  }

  .project-home__project-view-btn {
    text-align: center;
  }

  .project-home__stats {
    text-transform: uppercase;
    //padding:6px 16px;
    font-size: 18px;
    color: $hot-pink;
    .fa {
      vertical-align: middle;
    }
  }

  .project-home__project-name h1 {
    font-size: 36px;
    @include card-project-name();
    display: block;
  }

  .project-home__project-name {
    //padding-bottom:0;
    overflow: hidden;
  }
  .project-home__small-description {
    padding-top: 0;
    h2 {
      word-wrap: break-word;
    }
  }
  .project-home__action-btns {
    margin-top: 15px;
    .btn {
      width: 150px;
    }
  }


  .project-home__share-btns {
    margin-top: -30px;
    text-align: center;
  }

  .table td {
    height: 25px; /* match your .progress-media and .progress-entries row height */
    vertical-align: middle;
  }


  .progress {
    height: 16px;
    background-color: #f0f0f0;
    .progress-bar__modal-deletion__entries {
      background-color: $hot-pink;
      height: 16px;
    }
    .progress-bar__modal-deletion__media {
      background-color: $deep-purple;
      height: 16px;
    }
  }

  .color-indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;

    &.color-media {
      background-color: $deep-purple;
    }

    &.color-entries {
      background-color: $hot-pink;
    }
  }
  .counter-percentage {
    display: inline-block;
    width: 4ch;
    font-family: 'Roboto', sans-serif;
    font-variant-numeric: tabular-nums; /* makes digits same width */
    text-align: right;
    height: 20px;
  }

  .spinner {
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc; /* Light grey */
    border-top: 2px solid #333; /* Darker color for the spinning part */
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}


