.page-more-create {
  .panel {
    box-shadow: none!important;
    h2 {
      margin:0 0 15px 0!important;
      font-size: 18px!important;
      color:$deep-purple;
      font-weight: bold;
    }
  }
  .img-with-border {
    border:1px solid #eee!important;
  }
}