<div id="{{basic-input-ref}}" class="input-properties__form__basic-properties panel panel-default tab-pane fade active in">
    <div class="panel-body">
        <div class="input-properties__form__question form-group">
            <label for="{{input-ref-question}}">Header</label>
            <input id="{{input-ref-question}}" type="text" class="form-control" placeholder="Type header here..." value="{{input-question-value}}" maxlength="255">
            <i class="fa fa-2x fa-times form-control-feedback hidden"></i>
            <span class="input-properties__form__error hidden">{error}</span>
        </div>
        <hr>
        <button class="input-properties__form__edit-branch btn btn-default pull-left btn-sm" type="button" {{branch-edit-disabled}}>
            <i class="fa fa-edit fa-2x fa-fw"></i>Edit Branch
        </button>
        <div class="clearfix"></div>
        <span class="input-properties__form__error--branch-error invisible">{error}</span>
    </div>
</div>