<hr>
<h5>Make this answer unique to:</h5>
<div class="input-properties__form__advanced-properties__uniqueness checkbox form-group">
    <label>
        <input id="{{input-ref-uniqueness-form}}" type="checkbox" class="uniqueness-form" {{input-ref-uniqueness-form-checked}}> All <span class="uniqueness-current-form-name">{{form-name}}</span> entries
    </label>
    <label>
        <input id="{{input-ref-uniqueness-hierarchy}}" type="checkbox" class="uniqueness-hierarchy" {{input-ref-uniqueness-hierarchy-checked}}> Only <span class="uniqueness-current-form-name">{{form-name}}</span> children of a<span class="uniqueness-parent-form-name "> {{parent-form-name}}</span> parent entry
    </label>
</div>
